body {
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: url(telsa.jpeg);
    background-size: cover;
    height: 550px;
    text-align: center;
}

.tesla-logo {
    width: 400px;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.model-logo {
    width: 325px;
    margin-bottom: -50px;
    margin-top: -15px
}

h1 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.info {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}